[Unit]
Description=CPU boot undone service
Requires=xyz.openbmc_project.State.Host@0.service
After=xyz.openbmc_project.State.Host@0.service

[Service]
Type=oneshot
ExecStart=/bin/sh -c 'cpu-boot-handler.sh boot-undone'
