CONFIG_MCTP=y
CONFIG_MCTP_FLOWS=y
# MCTP Device Drivers
#CONFIG_MCTP_SERIAL is not set
CONFIG_MCTP_TRANSPORT_I2C=y
CONFIG_MCTP_TRANSPORT_I3C=y
# end of MCTP Device Drivers
# end of MCTP Device Drivers
CONFIG_I3C_MCTP=y
# CONFIG_I3C_MCTP_HDR_DDR is not set
CONFIG_I3C_TARGET_MCTP=y
