# Temperature sensor
CONFIG_SENSORS_LM75=y
# Hotswap controller
CONFIG_PMBUS=y
CONFIG_SENSORS_PMBUS=y
CONFIG_SENSORS_LM25066=y
# EEPROM
CONFIG_EEPROM_AT24=y
# IO Expander
CONFIG_GPIO_PCA953X=y
CONFIG_GPIO_PCA953X_IRQ=y
# I2C fan controller
CONFIG_SENSORS_MAX31790=y
# LED support
CONFIG_PHYLIB_LEDS=y
CONFIG_INTPUT_LEDS=y
CONFIG_NEW_LEDS=y
CONFIG_LEDS_CLASS=y
CONFIG_LEDS_GPIO=y
CONFIG_LEDS_PCA955X=y
CONFIG_LEDS_PCA955X_GPIO=y
# I2C mux
CONFIG_I2C_MUX=y
CONFIG_I2C_MUX_PCA954x=y
