[Unit]
Description=NVMe-MI management service
Requires=mctp-i2c14-ctrl.service mctp-i2c14-demux.service
Requires=mctp-i2c15-ctrl.service mctp-i2c15-demux.service
After=mctp-i2c14-ctrl.service
After=mctp-i2c15-ctrl.service
After=cpu-boot-done.service

[Service]
Restart=always
RestartSec=5
ExecStart=/usr/bin/nvme
SyslogIdentifier=nvme-manager

[Install]
WantedBy=cpu-boot-done.service
