[Unit]
Description=MCTP USB control daemon

[Service]
Restart=always
Environment=MCTP_USB_CTRL_OPTS=null
Environment=SYSLOG_IDENTIFIER=mctp-usb-ctrl
EnvironmentFile=-/usr/share/mctp/mctp
ExecStart=/usr/bin/mctp-usb-ctrl $MCTP_USB_CTRL_OPTS -w %i
SyslogIdentifier=mctp-usb-ctrl

[Install]
WantedBy=nvidia-fpga-ready.target