[Unit]
Description=MCTP I2C 5 demux Unix domain socket
PartOf=mctp-i2c5-demux.service

[Socket]
ListenSequentialPacket=@mctp-i2c5-mux
Accept=no

[Install]
WantedBy=sockets.target
