[Unit]
Description=MCTP I2C 1 control daemon
After=mctp-i2c1-demux.service
Requires=mctp-i2c1-demux.service
PartOf=fpga1-erot-recovery.target

[Service]
Restart=always
RestartSec=10
Environment=SYSLOG_IDENTIFIER=mctp-i2c1-ctrl
ExecStart=/usr/bin/mctp-ctrl -m 1 -t 1 -f /usr/share/mctp/mctp_cfg_smbus1.json -n 1 -d 1 -v 1
SyslogIdentifier=mctp-i2c1-ctrl

[Install]
WantedBy=fpga1-erot-recovery.target
