[Unit]
Description=MCTP I2C 15 control daemon
After=mctp-i2c15-demux.service cpu-boot-done.service
Requires=mctp-i2c15-demux.service

[Service]
#Restart=always
RestartSec=10
Environment=SYSLOG_IDENTIFIER=mctp-i2c15-ctrl
ExecStart=/usr/bin/mctp-ctrl -m 1 -t 1 -f /usr/share/mctp/mctp_cfg_smbus15.json -n 15 -d 1 -v 1
SyslogIdentifier=mctp-i2c15-ctrl

[Install]
WantedBy=cpu-boot-done.service
