[Unit]
Description=MCTP I2C 5 control daemon
After=mctp-i2c5-demux.service cpu-boot-done.service
Requires=mctp-i2c5-demux.service

[Service]
#Restart=always
RestartSec=10
Environment=SYSLOG_IDENTIFIER=mctp-i2c5-ctrl
ExecStart=/usr/bin/mctp-ctrl -m 1 -t 1 -f /usr/share/mctp/mctp_cfg_smbus5.json -n 5 -d 1 -v 1
SyslogIdentifier=mctp-i2c5-ctrl

[Install]
WantedBy=cpu-boot-done.service
