[Unit]
Description=MCTP I2C 14 demultiplexer daemon
Wants=mctp-i2c14-demux.socket
Conflicts=obmc-power-off@0.target
Requires=cpu-boot-done.service
After=cpu-boot-done.service

[Service]
Type=notify
Restart=always
Environment=SYSLOG_IDENTIFIER=mctp-i2c14-demux
ExecStart=/usr/bin/mctp-demux-daemon smbus i2c_bus=14 i2c_config_file=/usr/share/mctp/mctp_cfg_smbus14.json
SyslogIdentifier=mctp-i2c14-demux

[Install]
WantedBy=cpu-boot-done.service
