[Unit]
Description=Phosphor Multi GPIO monitor
Requires=bmc-boot-complete.service
After=bmc-boot-complete.service

[Service]
Restart=always
ExecStart=/usr/bin/phosphor-multi-gpio-monitor --config /usr/share/phosphor-gpio-monitor/phosphor-multi-gpio-monitor.json

[Install]
RequiredBy=multi-user.target
