[Unit]
Description=Power LED Controller
After=mapper-wait@-xyz-openbmc_project-led-groups.service
After=mapper-wait@-xyz-openbmc_project-state-host0.service
Requires=xyz.openbmc_project.State.Boot.PostCode@0.service
After=xyz.openbmc_project.State.Boot.PostCode@0.service

[Service]
Restart=always
ExecStartPre=/usr/bin/env /usr/bin/update-power-led-config.sh
ExecStart=/usr/bin/env power-led-controller --config /etc/phosphor-led-manager/power-led-config.json

[Install]
WantedBy=multi-user.target
