[Unit]
Description=CPU boot undone service
Requires=xyz.openbmc_project.State.Host@0.service
After=xyz.openbmc_project.State.Host@0.service

[Service]
Type=oneshot
ExecStartPre=/bin/sh -c 'control-bios-host-interface.sh boot-undone'
ExecStart=/usr/bin/env /usr/bin/delete-hi-user.sh

