# LAYER_CONF_VERSION is increased each time build/conf/bblayers.conf
# changes incompatibly
LCONF_VERSION = "8"

BBPATH = "${TOPDIR}"
BBFILES ?= ""

BBLAYERS ?= " \
  ##OEROOT##/meta \
  ##OEROOT##/meta-openembedded/meta-oe \
  ##OEROOT##/meta-openembedded/meta-networking \
  ##OEROOT##/meta-openembedded/meta-filesystems \
  ##OEROOT##/meta-openembedded/meta-python \
  ##OEROOT##/meta-openembedded/meta-webserver \
  ##OEROOT##/meta-phosphor \
  ##OEROOT##/meta-axiado \
  ##OEROOT##/meta-nvidia \
  ##OEROOT##/meta-nvidia/meta-common \
  ##OEROOT##/meta-nvidia/meta-prime \
  ##OEROOT##/meta-nvidia/meta-prime/meta-bmc-common \
  ##OEROOT##/meta-nvidia/meta-prime/meta-graceblackwell \
  ##OEROOT##/meta-axiado/meta-common \
  ##OEROOT##/meta-axiado/meta-nvidia \
  ##OEROOT##/meta-axiado/meta-nvidia/meta-prime \
  ##OEROOT##/meta-axiado/meta-nvidia/meta-prime/meta-bmc-common \
  ##OEROOT##/meta-axiado/meta-nvidia/meta-prime/meta-graceblackwell \
  ##OEROOT##/meta-axiado/meta-nvidia/meta-prime/meta-graceblackwell/meta-gb300nvl \
  ##OEROOT##/meta-axiado/meta-nvidia/meta-prime/meta-graceblackwell/meta-gb300nvl/meta-bmc \
  "

BBLAYERS_NON_REMOVABLE ?= " \
  ##OEROOT##/meta \
  ##OEROOT##/meta-openembedded/meta-oe \
  ##OEROOT##/meta-openembedded/meta-networking \
  ##OEROOT##/meta-openembedded/meta-filesystems \
  ##OEROOT##/meta-openembedded/meta-python \
  ##OEROOT##/meta-openembedded/meta-webserver \
  ##OEROOT##/meta-phosphor \
  ##OEROOT##/meta-axiado \
  ##OEROOT##/meta-nvidia \
  ##OEROOT##/meta-nvidia/meta-common \
  ##OEROOT##/meta-nvidia/meta-prime \
  ##OEROOT##/meta-nvidia/meta-prime/meta-bmc-common \
  ##OEROOT##/meta-nvidia/meta-prime/meat-graceblackwell \
  "
